$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #030;
$font-color: #cfc;
$header-color: #0f3;

body {
  background-color: $background-color;
  color: $font-color;
}

h1,
h2 {
  color: $header-color;
}

input {
  color: $background-color;
}

.message {
  color: $background-color;
}

.square {
  border: 3px solid $header-color;
  color: $font-color;
  font-size: 36px;
  height: 20vh;
  text-align: center;
}

.btn {
  color: $background-color;
}
