$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #003;
$font-color: #cff;
$header-color: #ccf;
$danger-color: #ff0;
$danger-text: #003;

body {
  background-color: $background-color;
  color: $font-color;
}

h1,
h2 {
  color: $header-color;
  text-align: center;
}

input {
  color: $background-color;
}

.warning {
  background-color: $danger-color;
  color: $danger-text;
}

.message {
  color: $background-color;
}

.square {
  border: 3px solid $header-color;
  color: $font-color;
  font-size: 36px;
  height: 20vh;
  text-align: center;
}

.btn {
  color: $background-color;
}
